* {
    margin: 0;
    padding: 0;
}

.header {
    vertical-align: center;
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #3D3D3D;
    border-bottom: 5px solid #6F6F6F;
    
}

.logo a{
    color: #B36767;
    text-decoration: none;
    font-weight;
}
.header ul {
    display: flex;
}