/

.header {  
    display:;
    vertical-align: center;
    width: 100%;
    height: 90px;
    background-color: #3D3D3D;
    border-bottom: 5px solid #6F6F6F;
    
}
.logo {
    height: 50px;
    weight: 150px;
    margin: 0px 50px;
    padding: 20px;
    border: 3px solid black;
    vertical-align: center;
}
.logo a{
    color: #B36767;
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    

}

li{
    color: #fff;
    font-size: 30px;
    list-style-type: none;
    text-decoration: none;
}

.header ul {
    display: flex;
}